<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>My Steroids App</title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="import" href="/components/supersonic/components/import.html">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/splash/splash-icon.png">
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />
  <link rel="apple-touch-startup-image" href="images/splash/splash-screen@2x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
  <link rel="apple-touch-startup-image" sizes="640x1096" href="images/splash/splash-screen@3x.png" />
  <link rel="apple-touch-startup-image" sizes="1024x748" href="images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
  <link rel="apple-touch-startup-image" sizes="768x1004" href="images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
  <link rel="apple-touch-startup-image" sizes="1536x2008" href="images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
  <link rel="apple-touch-startup-image" sizes="1496x2048" href="images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>
  <link href="styles/style.css"     		 rel="stylesheet" type="text/css">
  <link href="styles/framework.css" 		 rel="stylesheet" type="text/css">
  <link href="styles/owl.theme.css" 		 rel="stylesheet" type="text/css">
  <link href="styles/swipebox.css"		 rel="stylesheet" type="text/css">
  <link href="styles/font-awesome.css"	 rel="stylesheet" type="text/css">
  <link href="styles/animate.css"			 rel="stylesheet" type="text/css">

  <script type="text/javascript" src="scripts/jquery.js"></script>
  <script type="text/javascript" src="scripts/jqueryui.js"></script>
  <script type="text/javascript" src="scripts/framework.plugins.js"></script>
  <script type="text/javascript" src="scripts/custom.js"></script>
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/parse/parse.js"></script>
  <script src="/components/angular-toastr/dist/angular-toastr.js"></script>
  <script src="/components/webcomponentsjs/webcomponents.js"></script>

  <script src="/scripts/application.js"></script>
</head>
<body ng-app="SteroidsApplication">

  <div id="preloader disabled">
  	<div id="status">
      	<p class="center-text">
  			Loading the content...
              <em>Loading depends on your connection speed!</em>
          </p>
      </div>
  </div>
  <div ng-controller="IndexController" class="all-elements">
      <div class="snap-drawers">
          <!-- Left Sidebar-->
          <div class="snap-drawer snap-drawer-left">
              <!--Sidebar Header-->
              <div class="sidebar-header">
                  <a href="#" class="sidebar-logo"></a>
                  <a href="#" class="sidebar-close"><i class="fa fa-times"></i></a>
              </div>
              <div class="deco"></div>
              <!--Page Breadcrumb-->
              <div class="breadcrumb">Menu</div>
              <div class="deco"></div>
              <!--Simple Menu Item-->
              <a class="menu-item" href="index.html">
                  <i class="fa fa-cutlery"></i>
                  <em>I want to eat</em>
                  <i class="fa fa-circle"></i>
              </a>
              <div class="deco"></div>
              <a class="menu-item" href="cart.html">
                  <i class="fa fa-shopping-cart"></i>
                  <em>Cart</em>
                  <i class="fa fa-circle"></i>
              </a>
              <div class="deco"></div>
              <a class="menu-item" href="index.html">
                  <i class="fa fa-thumbs-o-up"></i>
                  <em>Favorites</em>
                  <i class="fa fa-circle"></i>
              </a>
              <div class="deco"></div>
              <!-- Page Breadcrumb -->
              <div class="breadcrumb">Copyright 2014. All rights reserved</div>
              <div class="deco"></div>

          </div>
          <!-- Right Sidebar -->
          <div class="snap-drawer snap-drawer-right">
              <!--Sidebar Close Button-->
              <a href="#" class="sidebar-close right-sidebar-close"><i class="fa fa-times"></i></a>
              <div class="clear"></div>
              <div class="deco"></div>
              <!-- Social Item -->
              <a class="social-item" href="contact.html">
                  <i class="fa fa-envelope"></i>
                  Mail Us
              </a>
              <div class="deco"></div>
              <!-- Social Item -->
              <a class="social-item" href="https://www.facebook.com/bite2eat1">
                  <i class="fa fa-facebook"></i>
                  Facebook
              </a>
              <div class="deco"></div>
          </div>
      </div>
      <!-- Page Header -->
      <div class="header">
          <a class="open-nav" href="#"><i class="fa fa-navicon"></i></a>
          <!--<a class="header-logo" href="#"></a>-->
          <a class="header-message" href="#">DON'T COOK JUST EAT</a>
          <a class="open-socials" href="#"><i class="fa fa-share-alt"></i></a>
      </div>

      <!-- Page Content-->
      <div id="content" class="snap-content" style="background-color: #232427">
          <img src="images/Bite2EatLogo.png" style="width:90%; margin-left:20px; ">
          <div class="formFieldWrap" style="margin:10px; margin-top:20px ">
              <label style="margin-left:10px;font-size: 20px !important;color: white;" >What do you want to eat?</label>
              <input id="searchid" ng-model="searchValue" placeholder=" I want to eat..." style="margin-bottom:10px;font-size: 20px !important; height: 50px;padding:10px; border-radius: 10px; background-color:white; margin-left:10px; width: 95%" type="text" name="contactNameField" value="" id="contactNameField"/>
              <a ng-disabled="!searchValue" ng-click="searchInput()" style="width:95%; border:0; margin-bottom: 10px; margin-left:10px" class="button button-blue"><i class="fa fa-search"></i>Find Restaurants</a>
          </div>
          <div class="full-bottom"></div>

          <div ng-repeat="restaurant in restaurants" class="portfolio-wide full-bottom">
              <a ng-click="menuItem(restaurant)" class="portfolio-wide-item">
                  <h3 style="font-size:24px; font-weight:bold; ">{{restaurant.attributes.name}}</h3>
                  <p style="font-size:20px; font-weight:bold; color:#DDDDDD">
                    {{restaurant.attributes.address}}
                    <br> Phone: {{restaurant.attributes.phone}}
                  </p>
                  <div class="overlay"></div>
                  <img class="responsive-image" src="{{restaurant.attributes.brandLogoUrl}}" alt="img">
              </a>
          </div>

          <div class="content">
              <div class="decoration"></div>
          </div>

          <!-- Page Footer-->
          <div class="footer">
              <div class="footer-socials half-bottom" style="width: 40%;">
                  <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
              </div>
              <p class="center-text">Copyright 2015. All rights reserved.</p>
          </div>

      </div>
  </div>
  <!-- <super-navbar>
    <super-navbar-title ng-bind="navbarTitle">
    </super-navbar-title>
  </super-navbar>

  <p>Awesome! This file is located at <strong>www/index.html</strong> &mdash; open it, change some text, save the file, and press enter in the Terminal window running <strong>$ steroids connect</strong>. The changes are updated to all connected devices. Cool, ain't it?</p>

  <h3>Using the Scanner App</h3>

  <p>On iOS, to restart your current app or scan another app, <strong>tap and hold on the screen with three fingers.</strong>. This opens the Scanner context menu.</p>

  <p>On Android, press the native back button to return to the scan screen.</p>

  <h3>Working with AngularJS</h3>

  <p>Angular works great with Supersonic native components. Changing the input field below will automatically update the navigation bar title.</p>

  <div class="card padding">
    <h4>Navigation Bar Title (Look Up!)</h4>
    <label class="item item-input">
      <input type="text" ng-model="navbarTitle">
    </label>
  </div>

  <p>You can find the AngularJS controller used at:</p>

  <p><strong><small>www/scripts/application.js</small></strong></p>

  <h2>Get in touch with us!</h2>

  <p>Learn more about building apps with Supersonic at <a onclick="supersonic.app.openURL('http://docs.appgyver.com')" href="">http://docs.appgyver.com</a>.</p>

  <p>Feel free to contact us at <a onclick="supersonic.app.openURL('mailto:contact@appgyver.com')" href="">contact@appgyver.com</a>, we would love to get your feedback!</p> -->


</body>
</html>
